.container-show
  .contents__quote
    .contents__quote__text
      = simple_format(@quote.text)
    - if user_signed_in? && current_user.id == quote.user_id
      %p
        = link_to edit_quote_path(@quote.id) do
          = icon('fas', 'edit', class: "contents__quote__edit")
      %p
        = link_to quote_path(@quote.id), method: :delete do
          = icon('fas', 'trash', class: "contents__quote__trash")
    %ul
      %li.contents__quote__title
        = @quote.title
      %li.contents__quote__character
        = @quote.name
  .contents__root
    = link_to '投稿一覧へ戻るッッ！！', root_path