!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ComicsQuotes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .header
      .header__menu
        .header__menu__title Comics Quotes
        .ul.header__menu__user
          .li.header__menu__user__select マイページ
          .li.header__menu__user__select ログアウト
          .li.header__menu__user__select 投稿する
          .li.header__menu__user__select ログイン
          .li.header__menu__user__select 新規登録

    = yield
